.estaly-pdp-offering {
    display: none;
    margin-bottom: 15px;
}

.estaly-flex {
    display: flex;
}

.estaly-flex-col {
    flex-direction: column;
    text-align: center;
}

.mt-2 {
    margin-top: 0.25rem !important;
}

.estaly-modal-dialog {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.estaly-modal-dialog:target {
    opacity:1;
    pointer-events: auto;
}

.estaly-modal-content {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1.5rem rgb(0 0 0 / 50%);
    display: flex;
    overflow: auto;
    position: relative;
    z-index: 100;
}

.estaly-content-container {
    padding-top: 4.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    text-align: left;
}

.estaly-close {
    color: black;
    line-height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: normal;
    padding-left: 1px;
    cursor: pointer;
}

.estaly-close:hover {
    font-weight: bold;
}

.estaly-logo-container {
    align-items: center;
    display: flex;
}

.estaly-plus {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.estaly-merchant-logo {
    max-height: 5rem;
    max-width: 17rem;
}

.estaly-subheading {
    padding-top: 1rem;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2.4rem;
}

.estaly-coverage-header {
    font-size: 1.1rem;
    font-weight: bold;
    height: 2rem;
    text-align: left;
}

.estaly-list {
    margin: 0 0 1.5rem;
    overflow: hidden;
    padding-left: 1.7rem;
    text-overflow: ellipsis;
    width: 100%;
}

.estaly-subheading {
    padding-top: 1rem;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 2.4rem;
    padding-bottom: 2.5rem;
}

.estaly-list-item {
    font-size: 1rem;
    font-weight: normal;
    line-height: 2.0rem;
    margin: 0.2rem 0;
    text-align: left;
    list-style: disc;
}

.estaly-terms-link {
    color: #fabb00;
    text-decoration: none;
}

.estaly-offered-by {
    text-decoration: none;
    font-weight: bold;
}

.estaly-terms-link:hover {
    text-decoration: underline;
    color: dodgerblue;
}

.estaly-link-container {
    font-size: 16px !important;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bold
}

.link-out {
    margin-left: 0.4rem;
}

.estaly-buttons-container {
    display: block;
}

.estaly-horizontal-line {
    border: 0.1rem solid #EDEDED;
    margin-top: 18px;
    margin-bottom: 10px;
}

.estaly-choice-container {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.estaly-choice-container button {
    border-radius: 0.2rem;
    height: 4.2rem;
    width: 19.2rem;
}

.estaly-button-link {
    background-color: transparent;
    border: none;
    color: #6d7278;
    cursor: pointer;
}

.estaly-button-link:hover {
    text-decoration: underline;
}

.estaly-button-submit {
    background: #fabb00;
    border-width: 0rem;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 100%;
    transition: 250ms opacity;
}

.estaly-button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.estaly-button-group.multiple {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.estaly-button-group.uniq {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(72 72 173 / 15%);
}

.estaly-button-group > .estaly-offer-button {
    display: flex;
    justify-content: center;
}


.estaly-offer-term-length {
    font-size: 1rem !important;
    font-weight: bold !important;
}

.estaly-offer-description {
    font-size: 1rem !important;
    font-weight: bold !important;
}

.estaly-offer-price {
    font-size: 1rem !important;
    font-weight: bold !important;
}

.estaly-offer-button-text {
    font-size: 1rem !important;
    font-weight: bold !important;
}

.estaly-offer-button-data {
    display: flex;
    align-items: center;
}

.estaly-cart-insurance-suggestion-button {
    background: #fabb00;
    border: 1px solid #fabb00;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    transition: border 200ms, box-shadow 200ms;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 8px;
    white-space: normal;
}

.estaly-cart-insurance-suggestion-button:hover {
    border-color: #fabb00;
    box-shadow: 0 0 0 1px inset #fabb00;
    background-color: #fabb00 !important;
    color: #fff !important;
}

.estaly-cart-insurance-suggestion-button:active {
    border-color: #fabb00;
    box-shadow: 0 0 0 1px inset #fabb00;
    background-color: #fabb00 !important;
    color: #fff !important;
}

.estaly-headline-buttons {
    font-weight: bold;
    display: inline;
    font-size: 16px;
}

.estaly-link-buttons {
    display: inline;
    color:#363948;
    text-decoration: underline;
    cursor: pointer;
}

.estaly-logo-full {
    width: 15%;
}

.estaly-choice-validation {
    font-weight: 700;
    color: red;
    padding-top: 4%;
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 800px){
    .estaly-modal-content { width: 100% !important ;}
    .estaly-subheading{ font-size: 1.1rem !important ; line-height: 25px !important; padding-bottom: 1rem;}
    .estaly-content-container{ width: 100%;}
    .estaly-image-container{ width: 0% !important;}
    .estaly-list-item{ font-size: 15px !important ; line-height: 1.6rem}
    .estaly-link-container{ font-size: 14px !important; text-align: center;}
    .estaly-choice-container button{ font-size: 14px !important;}
    .estaly-merchant-logo { max-width: 10rem !important;}
    .estaly-modal-dialog { z-index: 100 }
    .estaly-horizontal-line { margin-top: 5px; }
    .estaly-coverage-header { font-size: 1rem; }
}

@media (hover: hover) and (pointer: fine) {
    .estaly-offer-button.multiple {
        padding: 0.8rem;
        text-align: center;
        background: transparent;
        border: 0.1px solid #647259;
        border-radius: 0px;
        color: black;
        cursor: pointer;
        transition: border 200ms, box-shadow 200ms;
    }

    .estaly-offer-button.multiple.active {
        border-color: black;
        border: 1px solid black;
        box-shadow: 0 0 0 1px inset #647259;
        background-color: #fabb00;
        color: black;
    }

    .estaly-offer-button.multiple:hover {
        border-color: #647259;
        box-shadow: 0 0 0 1px inset #647259;
        background-color: #fabb00;
        color: black;
    }

    .estaly-offer-button.uniq {
        height: 22px;
        text-align: center;
        background: transparent;
        border: 1px solid #647259;
        border-radius: 0px;
        margin-right: 10px;
        color: black;
        width: 99%;
        cursor: pointer;
        transition: border 200ms, box-shadow 200ms;
    }

    .estaly-offer-button.uniq.active {
        border-color: black;
        box-shadow: 0 0 0 1px inset #647259;
        color: #fff;
    }

    .estaly-offer-button.uniq:hover {
        border-color: black;
        box-shadow: 0 0 0 1px inset #647259;
        color: #fff;
    }



    .estaly-terms-and-conditions {
        margin-left: 10px;
        font-size: 11px;
        display: block;
        font-style: italic;
    }
}

@media (hover: none) and (pointer: coarse) {
    .estaly-offer-button.multiple {
        padding: 0.8rem;
        text-align: center;
        background: transparent;
        border: 0.1px solid #647259;
        border-radius: 0px;
        color: black;
        cursor: pointer;
        transition: border 200ms, box-shadow 200ms;
    }

    .estaly-offer-button.multiple:focus {
        background-color: transparent !important;
        color: black !important;
        border: 0.1px solid black;
    }

    .estaly-offer-button.multiple:hover {
        background-color: transparent !important;
        color: black !important;
        border: 0.1px solid black;
    }

    .estaly-offer-button.uniq {
        height: 22px;
        text-align: center;
        background: transparent;
        border: 1px solid #647259;
        border-radius: 0px;
        margin-right: 10px;
        color: black;
        width: 99%;
        cursor: pointer;
        transition: border 200ms, box-shadow 200ms;
    }

    .estaly-offer-button.uniq:focus {
        background-color: transparent !important;
        color: white !important;
    }

    .estaly-offer-button.uniq:hover {
        background-color: transparent !important;
        color: white !important;
    }


    .estaly-offer-button.multiple.active {
        border-color: black;
        border: 1px solid black;
        box-shadow: 0 0 0 1px inset #647259;
        background-color: transparent;
        color: black;
    }

    .estaly-offer-button.uniq.active {
        border-color: #647259;
        box-shadow: 0 0 0 1px inset #647259;
        background-color: black !important;
        color: #fff !important;
    }
}