.estaly-pdp-offering {
    display: none;
    margin-bottom: 15px;
}

.estaly-flex {
    display: flex;
}

.estaly-flex-col {
    flex-direction: column;
    text-align: center;
}

.mt-2 {
    margin-top: 0.25rem !important;
}

.estaly-modal-dialog {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.estaly-modal-dialog:target {
    opacity:1;
    pointer-events: auto;
}

.estaly-modal-content {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1.5rem rgb(0 0 0 / 50%);
    display: flex;
    overflow: auto;
    position: relative;
    z-index: 2;
}

.estaly-content-container {
    padding-top: 4.8rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    text-align: left;
}

.estaly-close {
    color: black;
    line-height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: normal;
    padding-left: 1px;
    cursor: pointer;
}

.estaly-close:hover {
    font-weight: bold;
}

.estaly-logo-container {
    align-items: center;
    display: flex;
}

.estaly-plus {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.estaly-merchant-logo {
    max-height: 5rem;
    max-width: 17rem;
}

.estaly-subheading {
    padding-top: 1rem;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 2.4rem;
}

.estaly-coverage-header {
    font-size: 1.1rem;
    font-weight: bold;
    height: 2rem;
    text-align: left;
}

.estaly-list {
    margin: 0 0 1.5rem;
    overflow: hidden;
    padding-left: 1.7rem;
    text-overflow: ellipsis;
    width: 100%;
}


.estaly-list-item {
    font-size: 1rem;
    font-weight: normal;
    line-height: 2.0rem;
    margin: 0.2rem 0;
    text-align: left;
}

.estaly-terms-link {
    color: #fc7c3c;
    text-decoration: none;
}

.estaly-offered-by {
    font-size:14px !important;
    text-decoration: none;
}

.estaly-terms-link:hover {
    text-decoration: underline;
}

.estaly-link-container {
    display: flex;
    justify-content: space-between;
}

.link-out {
    margin-left: 0.4rem;
}

.estaly-buttons-container {
    display: block;
}

.estaly-horizontal-line {
    border: 0.1rem solid #EDEDED;
    margin-top: 18px;
    margin-bottom: 10px;
}

.estaly-choice-container {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.estaly-choice-container button {
    border-radius: 0.2rem;
    height: 4.2rem;
    width: 19.2rem;
}

.estaly-button-link {
    background-color: transparent;
    border: none;
    color: #6d7278;
    cursor: pointer;
}

.estaly-button-link:hover {
    text-decoration: underline;
}

.estaly-button-submit {
    background: #fc7c3c;
    border-width: 0rem;
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 100%;
    transition: 250ms opacity;
}

.estaly-button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.estaly-button-group > .estaly-offer-button {
    flex: 1;
}

.estaly-offer-button + .estaly-offer-button {
    margin-left: 1rem;
}

.estaly-cart-insurance-suggestion-button {
    background: transparent;
    border: 1px solid #b2bcc3;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    transition: border 200ms, box-shadow 200ms;
    font-size: 0.875rem;
    font-weight: 600;
}

.estaly-cart-insurance-suggestion-button:hover {
    border-color: darkorange;
    box-shadow: 0 0 0 1px inset darkorange;
    background-color: darkorange !important;
    color: #fff !important;
}

.estaly-cart-insurance-suggestion-button:active {
    border-color: darkorange;
    box-shadow: 0 0 0 1px inset darkorange;
    background-color: darkorange !important;
    color: #fff !important;
}

.estaly-headline-buttons {
    font-weight: bold;
    display: inline;
    font-size: 16px;
}

.estaly-link-buttons {
    display: inline;
    color:#363948;
    text-decoration: underline;
    cursor: pointer;
}

.estaly-logo-full {
    width: 15%;
}

@media (max-width: 800px){
	.estaly-modal-content { width: 100% !important ;}
	.estaly-sub-subheading { font-size: 12px !important ; line-height: 25px !important;}
    .estaly-content-container{ width: 100%;}
    .estaly-image-container{ width: 0% !important;}
	.estaly-list-item { font-size: 15px !important ;}
    .estaly-link-container{ font-size: 14px !important;}
    .estaly-choice-container button{ font-size: 14px !important;}
    .estaly-merchant-logo { max-width: 10rem !important;}
}

@media (hover: hover) and (pointer: fine) {

    .estaly-offer-button {
        min-width: 0px !important;
        padding: 6px !important;
        text-align: center;
        background: transparent;
        border-radius: 4px;
        color: black;
        cursor: pointer;
        transition: border 200ms, box-shadow 200ms;
        border: 0.5px solid;
    }

    .estaly-offer-button.active {
        border-color: #fc7c3c !important;
        box-shadow: 0 0 0 1px inset #fc7c3c;
        background-color: #fc7c3c;
        color: #fff;
        border: 0.5px solid;
    }
    
    .estaly-offer-button:hover {
        border-color: #fc7c3c !important;
        box-shadow: 0 0 0 1px inset #fc7c3c;
        background-color: #fc7c3c;
        color: #fff;
        border: 0.5px solid;
    }
}

@media (hover: none) and (pointer: coarse) {
    .estaly-offer-button {
        min-width: 0px !important;
        padding: 6px !important;
        text-align: center;
        background: transparent;
        border-radius: 4px;
        color: black;
        cursor: pointer;
        transition: border 200ms, box-shadow 200ms;
        border: 0.5px solid;
    }
    
    .estaly-offer-button:focus {
        border-color: #fc7c3c !important;
        box-shadow: 0 0 0 1px inset #fc7c3c !important;
        background-color: transparent !important;
        color: black !important;
        border: 0.5px solid;
    }
    
    .estaly-offer-button:hover {
        border-color: #fc7c3c !important;
        box-shadow: 0 0 0 1px inset #fc7c3c !important;
        background-color: transparent !important;
        color: black !important;
        border: 0.5px solid !important;
    }
    
    .estaly-offer-button.active {
        border-color: #fc7c3c !important;
        box-shadow: 0 0 0 1px inset #fc7c3c !important;
        background-color: #fc7c3c !important;
        color: #fff !important;
        border: 0.5px solid !important;
    }
}