.estaly-pdp-offering {
    display: none;
    margin-bottom: 20px;
}

.estaly-flex {
    display: flex;
}

.estaly-flex-col {
    flex-direction: column;
    text-align: center;
}

.mt-2 {
    margin-top: 0.25rem !important;
}

.estaly-modal-dialog {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50000;
}

.estaly-modal-dialog:target {
    opacity:1;
    pointer-events: auto;
}

.estaly-modal-content {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1.5rem rgb(0 0 0 / 50%);
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 200;
    width: 40%;
}

.estaly-content-container {
    padding: 3.8rem 3rem;
    text-align: left;
    width: 100%
}

.estaly-close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    padding-left: 1px;
    cursor: pointer;
}

.estaly-close:hover {
    background: #1bb0ad;
}

.estaly-logo-container {
    align-items: center;
    display: flex;
}

.estaly-plus {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.estaly-merchant-logo {
    max-height: 5rem;
    max-width: 17rem;
}

.estaly-subheading {
    margin-top: 8px;
    font-weight: bold;
    text-align: center;
}

.estaly-coverage-header {
    margin-top: 20px;
    margin-bottom: 12px;
    font-size: 16px;
    height: 1rem;
    text-align: left;
}

.estaly-list {
    margin: 0 0 1.5rem;
    overflow: hidden;
    padding-left: 1.7rem;
    text-overflow: ellipsis;
    width: 100%;
}

.estaly-list-item {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    margin: 0.2rem 0;
    text-align: left;
}

.estaly-terms-link {
    color: #1bb0ad !important;
    font-size:14px !important;
    text-decoration: none;
}

.estaly-offered-by {
    font-size:14px !important;
    text-decoration: none;
}

.estaly-terms-link:hover {
    text-decoration: underline;
}

.estaly-link-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 9px;
    flex-direction: row;
}

.link-out {
    margin-left: 0.4rem;
}

.estaly-buttons-container {
    display: block;
}

.estaly-horizontal-line {
    border: 0.1rem solid #EDEDED;
    margin-top: 18px;
    margin-bottom: 10px;
}

.estaly-choice-container {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.estaly-choice-container button {
    border-radius: 0.2rem;
    height: 4.2rem;
    width: 19.2rem;
}

.estaly-button-link {
    background-color: transparent;
    border: none;
    color: #6d7278;
    cursor: pointer;
}

.estaly-button-link:hover {
    text-decoration: underline;
}

.estaly-button-submit {
    border-width: 0rem;
    background-color: #1bb0ad !important;
    color: #fff !important;
    cursor: pointer;
}

.estaly-button-group.multiple {
    display: flex;
    margin-top: 10px;
    align-items: center;
    border: 1px solid #24b9d7;
}

.estaly-button-group.uniq {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
    border: 1px solid #24b9d7;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgb(72 72 173 / 15%);
}

.estaly-offer-button-data {
    display: flex;
    align-items: center;
}

.estaly-learn-more {
    display: flex;
    justify-content: flex-end;
}

.estaly-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.estaly-button-group > .estaly-offer-button {
    flex: 1;
}

.estaly-offer-button + .estaly-offer-button {
    margin-left: 1rem;
}

.estaly-cart-insurance-suggestion-button {
    background: transparent;
    border: 1px solid #b2bcc3;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    transition: border 200ms, box-shadow 200ms;
    font-size: 0.875rem;
    font-weight: 600;
}

.estaly-cart-insurance-suggestion-button:hover {
    border-color: #1bb0ad;
    box-shadow: 0 0 0 1px inset #1bb0ad;
    background-color: #1bb0ad !important;
    color: #fff !important;
}

.estaly-cart-insurance-suggestion-button:active {
    border-color: #1bb0ad;
    box-shadow: 0 0 0 1px inset #1bb0ad;
    background-color: #1bb0ad !important;
    color: #fff !important;
}

.estaly-headline-buttons {
    font-weight: bold;
    display: inline;
    font-size: 16px;
}

.estaly-link-buttons {
    display: inline;
    font-size: 12px;
    color: #24b9d7;
    text-decoration: underline;
    cursor: pointer;
}

.estaly-logo-full {
    width: 15%;
}

.estaly-offer-description {
    margin-left: 3%;
    font-weight: bold;
}

.estaly-choice-validation {
    font-weight: 700;
    color: red;
    padding-top: 4%;
    font-size: 0.9rem;
    text-align: center;
}

@media (max-width: 800px){
    .estaly-modal-content { width: 100% !important ;}
    .estaly-content-container{ width: 100%;}
    .estaly-link-container{ font-size: 14px !important;}
    .estaly-choice-container button{ font-size: 14px !important;}
    .estaly-merchant-logo { max-width: 10rem !important;}
}

@media (hover: hover) and (pointer: fine) {
    .estaly-offer-button.multiple {
        padding: 0.8rem;
        text-align: center;
        background: transparent;
        border: 1px solid #b2bcc3;
        border-radius: 4px;
        color: black;
        cursor: pointer;
        transition: border 200ms, box-shadow 200ms;
    }

    .estaly-offer-button.uniq {
        height: 22px;
        text-align: center;
        background: transparent;
        border: 1px solid #b2bcc3;
        border-radius: 4px;
        width: 22px;
        margin-right: 10px;
        color: transparent;
        cursor: pointer;
        transition: border 200ms, box-shadow 200ms;
    }

    .estaly-offer-button.active {
        border-color: #1bb0ad;
        box-shadow: 0 0 0 1px inset #1bb0ad;
        background-color: #1bb0ad;
        color: #fff;
    }

    .estaly-offer-button:hover {
        border-color: #1bb0ad;
        box-shadow: 0 0 0 1px inset #1bb0ad;
        background-color: #1bb0ad;
        color: #fff;
    }
}

@media (hover: none) and (pointer: coarse) {
    .estaly-offer-button {
        padding: 0.8rem;
        text-align: center;
        background: transparent;
        border: 1px solid #b2bcc3;
        border-radius: 4px;
        color: black;
        cursor: pointer;
        transition: border 200ms, box-shadow 200ms;
    }

    .estaly-offer-button:focus {
        background-color: transparent !important;
        color: white !important;
    }

    .estaly-offer-button:hover {
        background-color: transparent !important;
        color: black !important;
    }

    .estaly-offer-button.active {
        border-color: #1bb0ad;
        box-shadow: 0 0 0 1px inset #1bb0ad;
        background-color: #1bb0ad !important;
        color: #fff !important;
    }
}

@media screen and (max-width: 1000px) {
    .estaly-modal-content {
        width: 100% !important;
    }

    .estaly-content-container {
        width: 100% !important;
    }
}